{{ define "title" }}{{ with .Title }}{{ . }} &middot; {{ end }}{{ .Site.Title }}{{ end }}
{{ define "main" }}
<section class="stream">
  {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
  {{ range .Pages }}
  <article class="stream-item">
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
    {{ if .Title }}
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ with .Params.summary }}
    <p class="summary">{{ . }}</p>
    {{ else }}
    {{ with .Summary }}
    <p class="summary">{{ . }}</p>
    {{ end }}
    {{ end }}
    {{ else }}
    <div class="note-body">{{ .Content | plainify | truncate 200 }}</div>
    {{ end }}
  </article>
  {{ end }}
</section>
{{ end }}
